<!-- | -->
/** header *********************************************************************
 * project:			TSunic 4.1 | navigation 1.0
 * file:			format.css
 * author:			Nicolas Frinker <authornicolas@tsunic.de>
 * copyright:		Copyright 2011 Nicolas Frinker
 * licence:			This program is free software: you can redistribute it and/or modify
 * 					it under the terms of the GNU Affero General Public License as
 * 					published by the Free Software Foundation, either version 3 of the
 * 					License, or (at your option) any later version.
 * 
 * 					This program is distributed in the hope that it will be useful,
 * 					but WITHOUT ANY WARRANTY; without even the implied warranty of
 * 					MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * 					GNU Affero General Public License for more details.
 * 
 * 					You should have received a copy of the GNU Affero General Public License
 * 					along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ************************************************************************** */

#$$$div__show {
	position:absolute;
	top:140px;
	left:10px;
	width:150px;
	height:auto;
}
#$$$div__show ul {
	list-style-type:none;
}
#$$$div__show li {
	padding:5px;
	margin:2px;
	margin-bottom:5px;
	border:0px;
	border-left:2px solid #000;
	background:#99A;
	cursor:pointer;
}
#$$$div__show li:hover {
	border:0px;
	border-left:5px solid #000;
	background:#AAB;
}
#$$$div__show li a,
    #$$$div__show li a:link,
    #$$$div__show li a:visited {
	color:#000;
	text-decoration:none;
	font-weight:normal;
}
.$$$sub,
	#$$$div__show .$$$sub {
	padding:2px;
	height:14px;
	font-size:8pt;
	background:#BBC;
}
.$$$sub:hover,
	#$$$div__show .$$$sub:hover {
	background:#CCD;
}