<!-- | -->

#$$$div__show {
    position:absolute;
    top:140px;
    left:10px;
    width:150px;
    height:auto;
}
#$$$div__show ul {
    list-style-type:none;
}
#$$$div__show li {
    padding:5px;
    margin:2px;
    margin-bottom:5px;
    border:0px;
    border-left:2px solid #000;
    background:#99A;
    cursor:pointer;
}
#$$$div__show li:hover {
    border:0px;
    border-left:5px solid #000;
    background:#AAB;
}
#$$$div__show li a,
    #$$$div__show li a:link,
    #$$$div__show li a:visited {
    color:#000;
    text-decoration:none;
    font-weight:normal;
}
.$$$sub,
    #$$$div__show .$$$sub {
    padding:2px;
    height:14px;
    font-size:8pt;
    background:#BBC;
}
.$$$sub:hover,
    #$$$div__show .$$$sub:hover {
    background:#CCD;
}
